.DS_Store
HMGLTransitions.xcodeproj/project.xcworkspace/contents.xcworkspacedata

HMGLTransitions.xcodeproj/project.xcworkspace/xcuserdata/kpm.xcuserdatad/UserInterfaceState.xcuserstate

HMGLTransitions.xcodeproj/xcuserdata/kpm.xcuserdatad/xcschemes/HMGLTransitions.xcscheme

HMGLTransitions.xcodeproj/xcuserdata/kpm.xcuserdatad/xcschemes/xcschememanagement.plist
